body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #FFF;
}
.navbar-header {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.navbar .navbar-brand img{
    width: 100px;
}
.navbar .navbar-brand .imglogin{
    width: 100%;
}
.row.content {
    height: 450px
}
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
footer {
    background-color: #FFF;
    color: #111;
    font-size: small;
    padding: 15px;
}
footer img {
    width: 100px;
}
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
   }
    .row.content, .row.content-data {
       height:auto;
   }
}
.main{
    margin-top: 70px;
}
h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}
hr{
    width: 10%;
    color: #fff;
}
hr.index{
    margin: 0px;
    width: 100%;
    color: #d3d3d3;
}
hr.fim {
    margin: 10px;
}
hr.checkout{
    width: 100%;
    color: #d3d3d3;
}

.form-group{
    margin-bottom: 15px;
}
label{
    margin-bottom: 0px;
}
input, input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.main-login{
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.main-center{
    margin: 0 auto;
    max-width: 380px;
    padding: 0px 40px;
}
.login-button{
    margin-top: 5px;
}
.container{
    -webkit-box-shadow: 12px 0 15px -10px rgba(0, 0, 0, 0.6), -5px 0 8px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 12px 0 15px -10px rgba(0, 0, 0, 0.6), -5px 0 8px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 12px 0 15px -10px rgba(0, 0, 0, 0.6), -5px 0 8px -4px rgba(0, 0, 0, 0.6);
}
.container-data{
    background-color: #FFF;
    padding: 10px;
    -webkit-box-shadow: 12px 0 15px -10px rgba(0, 0, 0, 0.6), -5px 0 8px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 12px 0 15px -10px rgba(0, 0, 0, 0.6), -5px 0 8px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 12px 0 15px -10px rgba(0, 0, 0, 0.6), -5px 0 8px -4px rgba(0, 0, 0, 0.6);
}
.container-data h2{
    margin-top: 12px;
}
.input-group-addon{
    padding: 10px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
        border-left-color: rgb(204, 204, 204);
        border-left-style: solid;
        border-left-width: 1px;
    border-radius: 0px 4px 4px 0px;
}
.table-container{
  
   overflow: auto;
   max-height: 500px;
}
.loading{
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block; 
    z-index: 9999;
}
.loading p{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #FFF;
    text-transform: uppercase;
}
.message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.message p{
    margin-bottom: 0;!important
}

h1,h2,h3,h4,h5{
    margin: 30px;
}
.row button{
    margin: 30px;
}

.erro{
     display: none;
}
h4.data{
    margin: 20px 10px 10px 30px;

}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #fff;
  color: #000;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  display: none;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}



.alink:hover {
    text-decoration:none;
    cursor:pointer;
  } 
.alink:hover {
text-decoration:underline;
}  

.alink{
    text-align: right;
    justify-content: left;
    padding: 20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #696b6d;
    border-color: #696b6d;
}
.btn-primary {
    color: #fff;
    background-color: #949698;
    border-color: #949698;
}
.login{
    
    background-color: #ffffff;
    max-width: 500px;
    margin: 20px auto;
    /* max-width: 380px; */
    padding: 10px 40px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.rowfooter{
    padding: 0px 00px 0px 40px ;
}
#data_input_row{
    padding-left: 30px;    
    padding-right: 30px;
}